/* src/components/EscribirReseña.css */

.write-review-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f4f2f2;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.write-review-title {
  color: #333;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.review-textarea {
  width: calc(100% - 22px); /* Ancho completo menos padding y border */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1em;
  line-height: 1.5;
  resize: vertical; /* Permite redimensionar verticalmente */
}

.review-textarea:focus {
  outline: none;
  border-color: var(--secundario);
  box-shadow: var(--blur);
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.success-message {
  color: green;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.submit-review-button {
  padding: 10px 20px;
  background-color: var(--secundario);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s ease-in-out;
}

.submit-review-button:hover:not(:disabled) {
  background-color: var(--sombra);
}

.submit-review-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Estilos para las estrellas dentro de EscribirReseña (modo selección) */
.star-rating-container .star-full {
  color: gold;
}

.star-rating-container .star-empty {
  color: gray;
}

.star-rating-container span {
  font-size: 24px;
  margin-right: 2px;
  display: inline-block;
}