
.orders-button {
    background-color: var(--secundario);
    width: 200px;
    height: 50px;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s ease;
    margin-bottom: 10px;
   margin-left: 20px;
}

.orders-button:hover {
    background-color: #6c6070;
}
